# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/TP5_Ejercicio1/nbproject/private/
/TP5_Ejercicio 2/nbproject/private/
/TP5_Ejercicio 6/nbproject/private/
/TP5_Ejercicio 6/build/
/TP5_Ejercicio 6/dist/
/TP5_Ejercicio 7/nbproject/private/
/TP5_Ejercicio 7/build/